.nav-item {
    background-color: #CCF1FE;
    opacity: .7;
    font-family: monospace;
    font-weight: bold;
}

.nav-link {
    color: black;
}

.nav-link :hover {
    color: black;
}

.nav-link :active {
    color: white;
    background-color: black;
}